html {
  --coral: #f47f4d;
  --verdigris: #5cb8b2;
  --raisin-black: #1b1e29;
  --old-rose: #c46d74;
  --jet: #38383f;
  --cadet-gray: #9aa09d;
  --cinereous: #92807d;
  --hunyadi-yellow: #ffb54a;
  --french-gray: #c7bfc2;
}
body {
  margin: 0;
  padding: 0;
}
